/* 
Styles are easy to change with CSS!
*/

/* TODO: Un-comment these rules or write your own */
span {
  color: #D7994A !important;
}
a {
  color: #D7994A !important;
}
p[data-encore-id="type"] {
  color: #D7994A !important; 
}
h1, h2 {
  color: #D7994A !important;   
}
button[data-testid="user-widget-link"]{
  background-color: #FDEDC2 !important;
  color: #FDC636 !important;
}
div[data-testid="user-widget-menu"] ul {
  background-color: #FDE6A9 !important;
}
.DuEPSADpSwCcO880xjUG {
  background-color: #FDF6E3 !important; 
}
.DuEPSADpSwCcO880xjUG a:hover {
  background-color: #FDE6A9 !important; 
  cursor: pointer; 
}
.DuEPSADpSwCcO880xjUG button:hover {
  background-color: #FDE6A9 !important; 
  cursor: pointer; 
}
nav.Root__nav-bar{
  background-color: #FDF6E3 !important;
}
hr + div{
  height: 0 !important;
  background-color: none !important;
}
/* Adjust the nav bar links */
a.link-subtle {
  color: #D7994A !important;
  font-size: 17px !important;
}
.GlueDropTarget--tracks a span{
  color: #D7994A  !important;
  font-size: 17px !important;
}

/* Remove the default home icon and replace it with your own */
svg.home-icon path{
  display: none !important;
}
svg.home-active-icon path {
  display: none !important;
}
svg.home-active-icon + span {
  font-size: 17px !important;
}
svg.home-icon {
  background: url("https://www.filepicker.io/api/file/I6pr4FXQRcyLapq0HDQD") !important;
  background-size: 24px !important;
}
svg.home-active-icon {
  background: url("https://www.filepicker.io/api/file/I6pr4FXQRcyLapq0HDQD") !important;
  background-size: 24px !important;
}
/* Remove the default search icon and replace it with your own */
svg.search-icon path {
  display: none !important;
}
svg.search-active-icon path {
  display: none !important;
}
svg.search-active-icon + span {
  font-size: 17px !important;
}
svg.search-icon {
  background: url("https://www.filepicker.io/api/file/s87RiLY3RHGE2FY2dIPT") !important;
}
svg.search-active-icon {
  background: url("https://www.filepicker.io/api/file/s87RiLY3RHGE2FY2dIPT") !important;
}

/* Remove the default library icon and replace it with your own */
svg.collection-icon path{
  display: none !important;
}
svg.collection-active-icon path {
  display: none !important;
}
svg.collection-icon {
  background: url("https://www.filepicker.io/api/file/DLrkzZSRZG0bcfWwX9xt") !important;
  background-size: 24px !important;
}
svg.collection-active-icon {
  background: url("https://www.filepicker.io/api/file/DLrkzZSRZG0bcfWwX9xt") !important;
  background-size: 24px !important;
}
svg.collection-active-icon span {
  color: white !important;
}
/* Remove the default create playlist icon and replace it with your own */
.GlueDropTarget--albums button div div svg path {
  display: none !important;
}
.GlueDropTarget--albums button div div {
  background: url("https://www.filepicker.io/api/file/drQK3SlR6LvqleL1LCzw") !important;
}
button[data-testid="create-playlist-button"] span {
  color: #D7994A !important;
  font-size: 17px !important;
}
/* Remove the default liked icon and replace it with your own */
.GlueDropTarget--tracks a div div svg path{
  display: none !important;
}
.GlueDropTarget--tracks a div div {
  background: url("https://www.filepicker.io/api/file/v6IzpBTtSV2Ztns6KwxK") !important;
}

li[role="listitem"] a span {
  color: #D7994A  !important;
  font-size: 17px !important;
}
li[role="listitem"]:hover {
  transform: scale(1.03) !important;
  cursor: pointer;
}

/* Playlist Changes */
/* Change the background of the header list items in your library */ 
.JdlKTdpMquftpMwwegZo.oaNVBli46GtVjaQKB15g {
  background-color: #FDF6E3 !important; 
}
.JdlKTdpMquftpMwwegZo:hover {
  background-color: #FDE6A9 !important; 
}

/* Make the playlist icon rounder */ 
div[data-testid="playlist-image"] {
  background: transparent !important;
}
div[data-testid="playlist-image"] div img {
  border-radius: 25% !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important; 
}
/* Change the color of the playbutton underneath the playlist image */
.fipMme {
  background-color: #FDC635 !important;
}
.fipMme span {
  color: white !important;
}
button[aria-label="Remove from Your Library"] {
  color: #F4767A !important;
}
div[data-testid="action-bar-row"] button[aria-haspopup="menu"] {
  color:#D7994A !important;
}
/* Change the color of the song titles in a playlist */
div[data-testid="tracklist-row"] div[role="gridcell"] div {
  color: #D7994A !important;
}
/* Change the color of the playing animation */
div[data-testid="tracklist-row"] div[role="gridcell"] div img{
  filter: invert(0.6) sepia(10) saturate(10) hue-rotate(170deg) !important;
}

/* Home Section */ 
/* Change the spotify logo */
div[role="banner"] a svg path {
  filter: invert(0.3) sepia(10) saturate(5) hue-rotate(300deg) !important;
}
/* Change the shortcut icon images */ 
.Z35BWOA10YGn5uc9YgAp {
  border-radius: 35px !important
}
.zXwER4Lsqq_e7fVVaPkZ {
  border-radius: 50% !important;
  box-shadow: none !important;
}
img[data-testid="shortcut-image"] {
  border-radius: 50% !important;
}
.g3f_cI5usQX7ZOQyDtA9 {
  background-color: #FDF6E3 !important; 
}
/* Back and Forward Buttons */
button[data-testid="top-bar-back-button"] {
  background-color: #FDE6A9 !important;
  color: #D7994A !important;
}
button[data-testid="top-bar-forward-button"] {
  background-color: #FDE6A9 !important;
  color: #D7994A !important;
}
.Root__main-view {
  background-color: #FFC9C9 !important; 
}
section[data-testid="home-page"] {
  background-color: #FFC9C9 !important; 
}
header {
  background-color: #FFC9C9 !important; 
  border-color: #FFC9C9 !important;
}
header div {
  background-color: #FFC9C9 !important; 
}
/* Change the background color of the playlist cover cards */
.LunqxlFIupJw_Dkx6mNx{
  background-color: #FDF6E3 !important;
}
/* Change the color of the play buttons on the cover cards */
button[data-testid="play-button"] span {
  background-color: #FDC636 !important;
  color: white !important;
}
div[data-testid="grid-container"] div div div a div {
  color: #D7994A !important;
}
div[data-testid="grid-container"] div div div  {
  color: #D7994A !important;
}
/* Changes within a playlist */
.xYgjMpAjE5XT05aRIezb {
  background: none !important; 
}
.koyeY6AgGRPmyPITi7yO.qJOhHoRcFhHJpEQ2CwFT {
  background-color: #FFC9C9 !important; 
}
.gHImFiUWOg93pvTefeAD.xYgjMpAjE5XT05aRIezb {
  background-color: #FFC9C9 !important; 
}
div.contentSpacing {
  background-color: #FFC9C9 !important; 
}
.dZPmmYYhskhqHJCAruvI.wTUruPetkKdWAR1dd6w4 div {
  color: #D6984A !important;
}
nav[data-testid="footer-div"] {
  background-color: #FFC9C9 !important; 
}
/* Footer Changes */ 
/* Change the background-color of the footer */
footer[data-testid="now-playing-bar"] {
  background-color: #FDE6A9 !important;
  border-color: #FDE6A9 !important;
}
/* Remove the expand button */
button[aria-label="Expand"] {
  display: none !important;
}
/* Make the song icon circular */
div.cover-art.shadow {
  border-radius: 50% !important;
}
.cover-art div img[data-testid="cover-art-image"] {
  border-radius: 50% !important;
}
/* Change the color of the song title in the bottom left */ 
div[data-testid="context-item-info-title"] span a {
  color: #FDC636 !important;
}
div[data-testid="context-item-info-subtitles"] span a {
  color: #FDC636 !important;
}
button[data-testid="pip-toggle-button"] {
  color: #D7994A !important;
}
/* Change the color of the elapsed playback time and song duration*/ 
.playback-bar__progress-time-elapsed {
  color: #D7994A !important;
}
div[data-testid="playback-duration"] {
  color: #D7994A !important;
}
/* Change color of the progress bar */
div[data-testid="progress-bar-background"] div div {
  background-color: #D7994A !important;
}
.player-controls__left button {
  color: #FDC636 !important;
}
.player-controls__right button {
  color: #FDC636 !important;
}
button[data-testid="control-button-playpause"] {
  background-color: #FDC636 !important;
  color: white !important; 
}

/* Change the color of the controls on the right side of the footer */ 
button[data-testid="lyrics-button"] {
  color: #D7994A !important;
}
button[data-testid="lyrics-button"]:after{
  background-color: #D7994A !important;
}
button[data-testid="control-button-queue"] {
  color: #D7994A !important;
}
button[data-testid="control-button-queue"]:after {
  background-color: #D7994A !important;
}
button[id="device-picker-icon-button"] {
  color: #D7994A !important;
}
button[id="device-picker-icon-button"]:after {
  background-color: #D7994A !important;
}
button[data-testid="volume-bar-toggle-mute-button"] {
  color: #D7994A !important;
}
button[data-testid="fullscreen-mode-button"] {
  color: #D7994A !important; 
}
hr {
  background-color: #FDF6E3 !important;
}

/* Social Media Icons */
.Button-sc-me270r-0.iDkUdE.styles__StyledLink-sc-17pc5ri-0.kXycaQ.encore-dark-theme,
.Button-sc-me270r-0.iDkUdE.styles__StyledLink-sc-17pc5ri-0.kXycaQ.encore-dark-theme:hover {
  background-color: #F4767A !important;
  cursor: pointer !important;
}
.Button-sc-me270r-0.dAVVuA.styles__StyledLink-sc-17pc5ri-0.kXycaQ.encore-dark-theme,
.Button-sc-me270r-0.dAVVuA.styles__StyledLink-sc-17pc5ri-0.kXycaQ.encore-dark-theme:hover {
  background-color: #F4767A !important;
  cursor: pointer !important;
  color: white !important;
}

/* Change the speaker button next to the playlist */
.CCeu9OfWSwIAJqA49n84.Frn4juLXf6zInWBEFFzr {
  color: #21BBFF !important;
}

/* Top Bar Content Color when scrolling down */
.Type__TypeElement-sc-goli3j-0.hulXhb.G7zO58ORUHxcUw0sXktM {
  color: #D7994A !important; 
}

/* Footer Bar when listening on other devices */
.Type__TypeElement-sc-goli3j-0.bNyYSN.gQoa8JTSpjSmYyABcag2.encore-bright-accent-set.T3hkVxXuSbCYOD2GIeQd {
  background-color: #D7994A !important;
  color: white !important;
}
.WFRr38dFOxh75JyzSTj5.encore-bright-accent-set.IbmaxRtjqCjqTBpFwCgw {
  border-color: #FDE6A9 !important;
}

/* Context Menu when right-clicking anywhere */ 
.encore-dark-theme.SboKmDrCTZng7t4EgNoM {
  background-color: #FDE6A9 !important;
}
/* Some settings for wider screens */
.rezqw3Q4OEPB1m4rmwfw {
  background-color: #FFC9C9 !important;
}
.CoLO4pdSl8LGWyVZA00t {
  background-image: none !important;
  background-color: #FFC9C9 !important;
}

.T1xI1RTSFU7Wu94UuvE6 {
  display: none !important;
}
